body {
    color: #00f72c;
    -webkit-font-smoothing: none;
    -moz-font-smoothing: none;
    font-smoothing: none;
    background: black;
}

p {
    margin: 0;
}

#os_1 {
    font-family: monospace;
}

.prompt {
    display: block;
    text-transform: lowercase;
    line-height: 15px;
}

.column {
    padding: 10px;
    width: 33.33%;
    box-sizing: border-box;
    float: left;
}

.button {
    display: inline-block;
    border: 1px solid #00f72c;
    padding: 5px 10px;
    color: #00f72c;
    text-decoration: none;
}

.button:active {
    background: #02320b;
}

.disabled .button:active {
    background: none;
}

.disabled .button {
    border: 1px dashed #00f72c;
    cursor: default;
}

.worker, .upgrade {
    position: relative;
    padding: 5px;
    border: 1px solid #00f72c;
}

.worker .title {

}

.worker .count {

}

.worker .cost {

}

.worker .button {

}

#clock_holder {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 33.33%;
    text-align: right;
}

.right {
    float: right;
}

.hidden {
    display: none;
}
